<launch>

	<!-- COMMON_CAMERA_APPLICATION {CAMERA_ROBOT} -->
	<include file="$(find common_camera_application)/launch/camera_robot2.launch"/>
	
	<!-- COMMON_ARDUINO_APPLICATION {MOTOR_CONTROL} -->
	<include file="$(find common_arduino_application)/launch/robot2_motor_control.launch"/>
	
	<!-- COMMON_ROVERS_APPLICATION {LIDAR} -->
	<include file="$(find common_rovers_application)/launch/hokuyo_robot2.launch"/>

</launch>
